.well{
    position: absolute;
    left: 55%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #ffffff;
    width: 350px;
}

.insta{
    font-family: billabong;
    font-size : 45px;
    text-align: center
 
}
  @font-face {
    font-family: billabong;
    src: url('/static/fonts/Billabong.ttf');
    font-weight: bold;
  }
  .btn-md{
    padding-left: 60px;
    padding-right: 60px;
}
.phones{
    position: absolute;
    left: 30%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
}
img{
    max-width: 330px;
}
.forgot{
    margin-top: 20px;
}

 .app{
    margin-bottom: 10px;
  }

  .download{
    position: absolute;
    left: 55%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
    width: 350px;
  }
  .logs{
    max-width: 170px;;
  }
